* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(img/1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px;
}

.wrapper .input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

#logo {
  width: 378px;
  margin: -32px;
}
.signuplink {
  color: blue;
  text-decoration: none;

}

.signuplink:hover {
  text-decoration: underline;
}

